p {
    text-align: center;
}

td, th{
    border-collapse: collapse;
    padding: 20px 10px;
}

th{
    border: 2px solid grey;
    font-weight: bold;
}


table td {
    border: 2px solid grey;
    text-align: center;
}

table {
    border-collapse: collapse;
}

th {
    background-color: #ebebeb;
}

tbody tr:nth-of-type(odd) {
    background-color: #F5F5F5;
}

.name {
    background-color: #ebebeb;
}

